@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Montserrat:ital,wght@0,500;1,500&family=Quicksand&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
